body {
    background-color: #b07cf7;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 360px;
    margin: 0 auto;
}

.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 90px;
    color: white;
    font-weight: bold;
}

.text {
    font-size: 17px;
    text-align: center;
    width: 570px;
    color: white;
    padding: 50px 0;
}

.pictures {
    display: flex;
    align-items: center;
}

.blog-picture {
    position: relative;
    margin: 0 15px
}

.day {
    position: absolute;
    text-align:  center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .3);
    top: 30px;
    left: 30px;
}

.day .date {
    font-size: 32px;
    color: white;
}

.day .month {
    font-size: 21px;
    color: white;
}

.blog-header {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent 50%, #000);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.picture {
    font-size: 0px;
    width: 100%;
    display: block;
    box-shadow: 3px 3px 10px black;
}

h2 {
    font-size: 22px;
    padding: 20px 0;
}

span {
    font-size: 14px;
    color: #b9bab8;
}

.button {
    border: 0;
    margin: 50px 0; 
    width: 200px;
    height: 56px;
    text-align: center;
    font-size: 20px;
    color: white;
    background: #f72b3b;
    box-shadow: 3px 3px 10px black;
}


